Start: 15:07

- 17% then what it is?
- keep 17% and 7.6 minutes on same slide
- first 2 stats slides: add citations / references
- cut off on slides?
- logo?
- cc slide
	- pretty small text
	- can be simplified?
- slide numbers?
- slides pretty busy
- data 15:12
- data preparation pipeline
	- fix logos
	- fix text
	- text too small
- which studies are we using?
- say rct as full name
- sankey slide too fast
	- need to talk about it
- limitations
	- phq9 => most common
	- extra slogan useless
- **why** do we need to do the filtering of datasets
- model 15:16
- what is the PHQ-9?
	- use PHQ-9 from begining
- depression severity
	- **ideally** less than X
- why input in comic sans?
- what model should we use?
	- red outline?
- ended up deciding on CNMA, why CNMA?
- why heterogeneous treatment effects?
- use puzzle as image?
- input / output example is nice
	- let's show all and highlight which one we zoom in with red outline?
	- patient A => include picture / icon of person?
- CNMA example, actually not doable?
- font size up 
- color blocks great idea
- do we need 10 different colors for components?
- where do components come from?
	- Schillok et al
- ellipise diagonal?
- what should the outcome be?
	- a prediciton of which intervention components would be useful?
	- most wonky part of model
- "We can now fit a model !!!" a bit unprofessional?
- the need for variation across trials
	- red / green example also works with blue there?
	- the model vs. we can tell?
	- can be cut, why is this important?
- multiplicity problem is interesting, but too much
- no need to read out paper names, we can just call it Kent et al.
- show pipeline with two models?
	- get there quicker
- Modelling Summary: Step 2 CNMA
	- No time for formula, might want to cut it
	- Use emojis for formula or translate formula into emojis too
	- Emoji for risk score 💁‍♂️
- **No need to to say thank you / hello**
- Slides showing progress in presentation?
	- Problem: Data => Model => Prototype
- Prototype 15:35
	- Very male centered peopel icons? Use stetoscope to highlight GP?
	- GP challenge tough to say
	- might be careful with yellow text on white bg
	- leaning out of the window with challenges??
	- need to be more clearly defined
	- how our prototype CAN help?
- Visual consistency
- Data storage not with patient?
- Collect limitations centrally?
- Iterations after screenshots / demo?
- Not always GP feedback?? This is WRONG!
- "Every feature was shaped by someone who would actually use it" not true?
- Mix GP / Partner / Representative feedback explicitly?
- Demo 15:42
	- Zoom in demo
	- Practice more?
	- No need to read out questions / or anything else
		- Just mention that it's PHQ-9
	- Split up video to reduce pressure
		- end in each section and start the next with a click on it
	- Set up autoplay
	- Talk more about the ideas behind / higher level
	- No need to try out the local support
	- Briefly show FAQ, can maybe skipped completely
	- No need to read out things
- Huge change to prototype?
	- Still how SOME predictions??
- White background for prototype video?
- Urgent help is nice to show
- Different versions a bit too much
- Then limitations to end
- Value 15:50
	- very LLM generated
	- be humble?
- QR Code after
- End 15:51


- careful with systematic?
	- let's be more humble, help surface opportunities






## SODA Dry-Run

- earlier on more detail on the components
	- e.g. example study?
- more visual support
- models instead of steps
- what goes in / what comes out
- reorder presentation?
	- earlier prototype
	- slide: this is what we built (not demo); what the tool offers
- big picture, then zoom in
- how well does the model work
- limitations more clearly



- 18:07?
- 18:10 collaborative care compass
- could highlight big issue / timeliness potentially more??
- intro
	- **FK:** The intro is for my taste too much of  an LLM script. I stopped being able to focus on the content bc of the very familiar AI / claude rythm of word choices and sentence structure.
- less sure about the 51% figure? but not sure
- usual care
	- no psychotherapy? need to be a bit more clear on what exactly the difference entails I guess
- #7: open question a bit more prominent
- general (minor): padding in boxes
- #8? (no number): coloring for PHQ-9 / more clear disamibguation of score
- Thirty trials => multiple trials
	- thirty trials => also include usual care
- "How depressive symptoms are measured"
	- clearer color scale
- Slide numbers are broken???
- Loi
	- "I will now explain X"
	- bit more natural?
	- tell more of a story
- #5 (example, a trial and its components):
	- spanish example; did we select these?? be more clear, what did we do / what did they do?
	- Maybe show components vs usual care here as well? To also visually show randomization??
	- too dry / too many technical details
	- **no need to talk about source at bottom**
- Not step 1, model 1?
- Language for risk model still a bit off
	- more clearly saying what we're doing
	- we generate a risk score to aggregate patient characteristics
- Step 2
	- we go with CNMA (explain) in line with prior work analyzing similar data e.g. A, B ,C
- Consistency
	- Slide titles
- Not just predicted PHQ at 12 months
	- per component
- Prototype
- Why do we gather XYZ, when we don't use it for prediction
- Feedback slide
	- Split up into "specific pieces of feedback from XYZ"
	- More separate little feedback "snippets"?
- **DEMO**
- Demo slide
	- keep current design and add a little banner?
- With PHQ-9 questions, not too long bit of silence
	- silence => awkward
	- can talk high level, what sort of concepts
- More precise / correct about which components are which
- Prototype
	- What is current care here???
	- Shouldn't "trash-talk" it
- video can be shorter / higher level
- urgent help earlier?
- 15:38 end


**FK**: it might help to have at the beginning very early on what you found out. That is new different and worth knowing. Then we can focus relaxed on how you learned it. I think the 2nd portion will loose anyone who is not a statistician or data scientist otherwise. Ideally someone from the group or you would jump in in between and relate that to how the audience thinks.

**questions**
- findings
	- any specific things found?
- how to deal with terrible prediction?

- warning for too low PHQ-9??

- Posture matters, be confident, esp when not presenting!
- Also confidence in slides!!

- idea about findings what do we see in the data??
- explore adding GAD-7 or other score back in??



## NO 3


high level: what is interesting about this? what are you proud of?
	SHOW THIS.

--- 
- bigger icons on Collaborative Care Compass intro slide?
- rotate puzzle pieces, spacing in puzzle pieces
- component could be more explicit
- how we answer it
	- data, clinical model, collaborative care compass => icons?
- no teaser
- data is still read
- from nine answers to one score; drop it (super claude sounding; you will loose people)
- spacing in data slide
- slides still busy
- PHQ-9 scores over time weird layout
	- put scores in circles
- Baseline should be part of timeline??
- One trial => multiple trials
- Why from 13 to 12 datasets???
- Missingness needs to be made more clear
	- why these choices
- Early limitations slide not so useful
- Differences in studies should be made more clear

---- loi 

- fitted on IPD of 12 trials (no need to repeat)
- higher level pipeline should be there
	- i.e. input / output within
- make clear that we align with literature here, in line with XY et al
- Viz of care compass should use same visual language
- Teaser slide earlier
- Confusing layout for Two patient slide
- don't give most likely, show confidence interval
	- focus on the interesting part

--- xiaohan

- opener: do not use in circle, but only icon itself in color
	- same in Alex slide
- specialist vs project partners
- match limitations with outlook?
- tested in practice => validated
- more predictors => restriction of data
- richer tool => additional features
	- not yet very confident on this
- layouting of final slides needs work e.g. summary size of boxes
- thank you slide
	- more info?


8:50
6:04
5:35






## Thu 1st Oct

- 11:14 start
- Alex
- One figure: 51%
- #4 puzzle pieces should be slightly differently rotated 
- components detail?
- collaborative care is effective align text
- needs to be freely talked!!
- Still PHQ-9 with numbers next to it???
- Filter => arrows?
- Multipel judgement calls not just 3
- too few patients for estimate => let's give the number... jsut one?
- 11:24 Loi
- Get rid of weird lines
- Smoothen talking
- #14 Shouldn't show the method thingy
- What's the risk score model? Give context
- Mention paper this is coming from, more narrative
- #15 Risk score x components (should be updated in slide)
- #16 Overview slide before detailed ones?
- "Patient preference" is in the top 3
	- not sure this is worth highlighting? it doesn't run very smooth at the moment
- #16 Remove patient icon
- xiaohan 11:29
- generally: leave / take more time for slides
- #26 heading: central idea? talk about other benefits as well
- #27 shift center down a bit
- Timing of video and talking needs practice / synchronization
- filling out questionnaire a bit too fast?
- can highlight that suicidality questions came from GPs?
- cursor is fading in and out a bit weirdly? Mayb increase the minimum time before it gets hidden?
- Use white bg
- ordered by predicted effectiveness
- code-part (with the copy-paste) is pretty fast rn
- second part of demo is a bit fast / stressful to follow?
	- e.g. the different other pages
- a bit more detail on limitations
	- i.e. why trials populations problematic for prediction?
- summary a bit slower, having a breather
	- filter on the bottom left (i.e. boxes going smaller)
- 11:40
- #34 use screenshot of prototype

Q&A 

